page-materi {
    .img-thumbnail img{
        border-radius: 50px;
    }
    .button-lihat{
        padding: 7px;
        background:#00c6ff;
        color: white;
        border-radius: 15px;
    }
}
