.menu button{
    background-color: #00c6ff;
}

.button-quiz{
    background: #00c6ff;    
}

.toolbar-background{
    background: #00c6ff
}

.toolbar-title{
    color:white;
}

.ion-md-arrow-back{
    color:white;
}

.menu{
background:#00c6ff;
}

.back-button-icon, .back-button-text{
    color:white;
}

.radio-icon{
    background-color: #f3f3f3;
    border-radius: 25px;
}
